.main-content {
    background-color: yellow;
    border: 1px solid black;
    margin: 150px auto;
    width: 400px;
    height: 400px;
}
.parent {
    text-align: center;
    margin: 20px 0px;
  }
.parent header {
    font-size: 50px;
  }
 .myFont {
    font-family: "Plaster", sans-serif;
 } 
 .myFont2 {
    font-family: "Averia Gruesa Libre", sans-serif;
 }
