.main-content {
    background-color: white;
    border: 1px solid black;
    margin: 150px auto;
    width: 400px;
    height: 400px;
    font-family: "Averia Gruesa Libre", sans-serif;
}
.parent {
    text-align: center;
    margin: 20px 10px;
    font-size: 30px;
  }
 .myFont {
    font-family: "Plaster", sans-serif;
 } 
 .myFont2 {
    font-family: "Averia Gruesa Libre", sans-serif;
 }


