html, body, h1, h2, h3, p, ol, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: white;
}
.blogBlock h1 {
    color: white;
    margin: 0 0 15px 0;
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 100px;
    text-align: center;
}
.blogBlock h3 {
    color: white;
    margin: 0 0 15px 0;
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
}
.topHeader {
    text-align: center;
    background-color: #000000;
}
.main-content p {
    size: 20px 20px 20px 20px;
    background: #242424 url(images/galaxyBack.jpg) center center no-repeat;
}
.topHeader a {
    color: goldenrod;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}
.topHeader a:visited {
    color: yellowgreen;
}
.topHeader a:hover {
    color: gray;
}
.topHeader li {
    display: inline-block;
    text-align: center;
    color: white;
    
}